@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grad {
	background-color: rgb(12, 74, 110);
	background-image: radial-gradient(
		at 100% 0%,
		rgb(3, 105, 161) 0,
		transparent 100%
	);
}

.w-inherit {
	width: inherit;
}

.scroll-hidden::-webkit-scrollbar {
	display: none;
}