@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Poppins';
	}
}

.bg-grad {
	background-color: rgb(12, 74, 110);
	background-image: radial-gradient(at 100% 0%,
			rgb(3, 105, 161) 0,
			transparent 100%);
}

.w-inherit {
	width: inherit;
}

.scroll-hidden::-webkit-scrollbar {
	display: none;
}