@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Poppins';
	}
}

.bg-grad {
	background-color: rgb(12, 74, 110);
	background-image: radial-gradient(at 100% 0%,
			rgb(3, 105, 161) 0,
			transparent 100%);
}

.w-inherit {
	width: inherit;
}

.scroll-hidden::-webkit-scrollbar {
	display: none;
}

.custom-polygon {
	/* clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%, 0 100%); */
	clip-path: polygon(100% 0, 100% 20%, 95% 85%, 0 100%, 0 0);
}

.land:hover {
	fill: #4E7D00;
	fill-opacity: 1;
	stroke: #A3E635;
	stroke-opacity: 1;
	stroke-width: 0.5;
}

@keyframes blink {
	50% {
		fill: #334155;
	}
}

.dot {
	animation: 1s blink infinite;
	fill: #4E7D00;
	fill-opacity: 1;
	stroke: #A3E635;
	stroke-opacity: 1;
	stroke-width: 0.5;
}

.dot:nth-child(2) {
	animation-delay: 250ms
}

.dot:nth-child(3) {
	animation-delay: 500ms
}